<section class= "section">
  <div class="container">
    <div class="columns">
    <%# <% if user_signed_in? %> 
      <%# <%= render 'member-feed' %> 
    <%# <% else %> 
      <%= render 'guest-feed' %>
    <%# <% end %> 
      <%# <%= render 'feed' %> 
      <%# <%= render 'who-to-follow' %> 
    </div>
  </div>
</section>